.logo{ 
text-decoration: none;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: calc(31/26);
letter-spacing: 0.03em;
color: #2196F3;
}

ul{
list-style: none
}

ul > li > a {
text-decoration: none;
}

body{
font-family: 'Roboto', sans-serif;
}

.nav-list .nav-item-link:hover,
.nav-list .nav-item-link:focus{
color: #2196F3;    
}

.nav-list .nav-item-link:active{
color:purple;    
}

/*.first-list > li > a[href="portfolio.html"]:visited{
color:#2196F3;    
}*/


.contacts-list .list-item:hover,
.contacts-list .list-item:focus{
color: #2196F3;    
}

.contacts-list .list-item:active{
color:purple;    
}

.contact-info .list-item:hover,
.contact-info .list-item:focus{
color: #2196F3;    
}

.contact-info .list-item:active{
color:purple;    
}

.nav-list .nav-item-link{
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: #212121;}

.contacts-list .list-item{
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em;
color: #757575;
}

.hero {
background: #2F303A;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;   
color: #FFFFFF;
}

.button-section{
left: 700px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: calc(30/16);
align-items: center;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
}

.button-section:hover,
.button-section:focus {
    color: #212121;
}

.features-headers{    
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.features-text{
font-size: 14px;
line-height: calc(24/14);
color: #757575;
}

.work-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
}

.team-section{
background: #F5F4FA; 
}

.team-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(42/36);
text-align: center;
letter-spacing: 0.03em;
color: #212121; 
}

.team-item-title{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: calc(19/16);   
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-item-text{ 
font-size: 16px;
line-height: calc(19/16);   
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

.bottom{
width: 1600px;
height: 252px;  
background: #2F303A;
}

.contact-info .list-item{
font-family: 'Roboto';
font-size: 14px;
line-height: calc(24/14);   
letter-spacing: 0.03em;
color: #FFFFFF;
}

.contact-info > li > a[href="mailto:example@gmail.ru"]{
font-family: 'Roboto';
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);   
}

.contact-info > li > a[href="tel:+12127724150"]{
font-family: 'Roboto';
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);   
}

.portfolio-nav-list .list-item{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 162%;   
text-align: center;
letter-spacing: 0.03em;  
color: #212121;     
background: #F5F4FA;
border-radius: 4px;   
}

.portfolio-nav-list .list-item:hover,
.portfolio-nav-list .list-item:focus{
background-color:#2196F3; 
color:#FFFFFF   
}

.portfolio-nav-list .list-item:active{
color: #FFFFFF;    
}

.address-setter{
font-style: normal;
}

/*.third-list > li > a[href="all.html"]{
position: absolute; 
text-align: center;  
line-height: 162%;
width: 73px;
height: 38px;  
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.third-list > li > a[href="web-sites.html"]{
position: absolute; 
text-align: center;  
line-height: 162%;
width: 73px;
height: 38px;  
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

